<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="_4InputsServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64530/4InputsService.asmx"
                binding="basicHttpBinding" bindingConfiguration="_4InputsServiceSoap"
                contract="ServiceReference1._4InputsServiceSoap" name="_4InputsServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>